openapi: 3.0.0
info:
  title: ZohoIM
  version: 1.0.0
  description: >-
      ZohoIM abstracts the difficulties in integrating various Instant Messaging Channels by Providing an Unified API.
      ### Communicate with your customers through any Instant Messaging Channel
      <img src="https://content.pstmn.io/001c6190-9c45-4b0f-87cb-6c1043f209cd/aW1hZ2UucG5n" /> <br><br><br>
      
      **Why Zoho IM?**
      Most of the support channels often bring layers of complexities - IM manages all these interactions into a single connected system.
      Our focus was on improving agent productivity with an intuitive approach and compatible interface.
      Our seamless integration with customers' best-loved platforms such as WhatsApp, Telegram, LINE, WeChat and Facebook Messenger.
      <br><br>
      **Getting Started** <br>
      - All Zoho IM APIs require these two mandatory fields in the header. <br>
      - Authorization - Authentication request token <br>
      - orgId -ID of the organization to access. All API endpoints except /organizations mandatorily require the orgId. <br>

      
      <img src="https://content.pstmn.io/7ba8a04d-b133-46e2-8d4c-633a5bc57378/ZXpnaWYuY29tLXZpZGVvLXRvLWdpZiAoMSkuZ2lm" /> <br><br>
      For detailed flow of Authorization [visit](https://www.zoho.com/accounts/protocol/oauth/self-client/authorization-code-flow.html)
      <br><br>
      **Steps (refer the above gif):** <br>
      - Sign into https://www.accounts.zoho.com <br>
      - Go to [Zoho Developer Console](https://api-console.zoho.com/) -> Add Client <br>
      - Choose Self Client  <br>
      - Note down Client ID and Client Secret under Client Secret Tab <br>
      - Under Generate Code - Provide scopes, time duration and desciption  <br>
      - Choose create which will provide a code.  <br>
      <br><br>
      **Scopes:** <br>
      - ZohoIM.organizations.ALL <br>
      - ZohoIM.channels.ALL <br>
      - ZohoIM.conversations.ALL  <br>
      - ZohoIM.messages.ALL <br>
      - ZohoIM.bots.ALL <br>
      - ZohoIM.users.ALL  <br>
      - ZohoIM.contacts.ALL <br>
      - ZohoIM.search.READ  <br>
      <br><br>
      **Note:**
      - Access token should be prefixed with the prefix "Zoho-oauthtoken" <br>
        Example token, **Zoho-oauthtoken 1000.dfe95e72e98e1657****
servers:
  - url: https://im.localzoho.com
    description: Local Zoho Server
  - url: http://127.0.0.1:3000
    description: Mock Server
paths:
  /api/v1/cannedMessages:
    get:
      summary: Get existing canned messages
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - organizations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        modifiedTime:
                          type: string
                        kind:
                          type: string
                        isPrivate:
                          type: string
                        isActive:
                          type: string
                        title:
                          type: string
                        type:
                          type: string
                        uuid:
                          type: string
                        tags:
                          type: string
                        wabaId:
                          type: string
                        displayMessage:
                          type: string
                        createdBy:
                          type: string
                        translations:
                          type: array
                          items:
                            type: object
                            properties:
                              modifiedTime:
                                type: string
                              displayMessage:
                                type: string
                              kind:
                                type: string
                              templateItems:
                                type: object
                                properties:
                                  buttons:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        action:
                                          type: string
                                        type:
                                          type: string
                                        message:
                                          type: string
                                      required:
                                        - action
                                        - message
                                        - type
                                  footer:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      message:
                                        type: string
                                    required:
                                      - message
                                      - type
                                required:
                                  - buttons
                                  - footer
                              language:
                                type: string
                              id:
                                type: string
                              uuid:
                                type: string
                              status:
                                type: string
                            required:
                              - displayMessage
                              - id
                              - kind
                              - language
                              - modifiedTime
                              - status
                              - templateItems
                              - uuid
                        meta:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              uuid:
                                type: string
                              value:
                                type: string
                            required:
                              - name
                              - uuid
                              - value
                        id:
                          type: string
                        primaryLanguage:
                          type: string
                        status:
                          type: string
                      required:
                        - createdBy
                        - displayMessage
                        - id
                        - isActive
                        - isPrivate
                        - kind
                        - meta
                        - modifiedTime
                        - primaryLanguage
                        - status
                        - tags
                        - title
                        - translations
                        - type
                        - uuid
                        - wabaId
                  kind:
                    type: string
                  hasMore:
                    type: string
                required:
                  - data
                  - hasMore
                  - kind
              example:
                data:
                  - modifiedTime: '2024-12-24T09:09:19.000Z'
                    kind: single.cannedMessage
                    isPrivate: 'false'
                    isActive: 'true'
                    title: IDFC QUICK
                    type: TEMPLATE
                    uuid: f1a6b6769853500482fe88a670310f70
                    tags: UTILITY
                    wabaId: '105492799180994'
                    displayMessage: >-
                      Easy Banking on WhatsApp


                      Manage your accounts & grow your funds effortlessly with
                      WhatsApp


                      Check your Balance, Get Account Statement, & Book FD in
                      just a few clicks.
                    createdBy: '20408723'
                    translations:
                      - modifiedTime: '1735031359474'
                        displayMessage: >-
                          Easy Banking on WhatsApp


                          Manage your accounts & grow your funds effortlessly
                          with WhatsApp


                          Check your Balance, Get Account Statement, & Book FD
                          in just a few clicks.
                        kind: single.cannedMessage.translation
                        templateItems:
                          buttons:
                            - action: ''
                              type: QUICK_REPLY
                              message: Thank you
                            - action: ''
                              type: QUICK_REPLY
                              message: Check balance
                            - action: ''
                              type: QUICK_REPLY
                              message: Statement
                          footer:
                            type: TEXT
                            message: Easy bank & Co
                        language: en
                        id: '55920000000118003'
                        uuid: bfc6cede03fe5c608df63035ef696da2
                        status: REJECTED
                    meta:
                      - name: DESK_DEPARTMENT_ID
                        uuid: c5d526c4c348563cb5cab4dc9120209b
                        value: '122000000025936'
                      - name: INTEGRATION_SERVICE
                        uuid: 81416e7efe8c5418853919187f758f79
                        value: WHATSAPP
                      - name: WABA_ID
                        uuid: 4a328d4a92bc586eb45932f99d105ba9
                        value: '105492799180994'
                      - name: TEMPLATEMSG_STATUS
                        uuid: 7c44c49768ba5c39bf13073ac1f87c59
                        value: REJECTED
                      - name: TEMPLATEMSG_NAME
                        uuid: 72146c28cd665950a349040444aea222
                        value: t55920000000118001
                      - name: TEMPLATEMSG_EXTERNAL_ID
                        uuid: 215895db9f8a5c26a598277be6c57e6e
                        value: '8487078804679837'
                      - name: REJECTION_REASON
                        uuid: d3908abfc06d5a7faa9ce35c3790af62
                        value: INCORRECT_CATEGORY
                    id: '55920000000118001'
                    primaryLanguage: en
                    status: REJECTED
                kind: list.cannedMessage
                hasMore: 'true'
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 60
      parameters:
        - name: from
          in: query
          description: Index number, starting from which the channels must be fetched
          schema:
            type: integer
        - name: limit
          in: query
          description: Number of channels to fetch
          schema:
            type: integer
        - name: modifiedAfter
          in: query
          description: >-
            After which date entities to be included. Enter a date in the ISO
            date format of yyyy-MM-ddThh:mm:ss.SSSZ.
          schema:
            type: string
            pattern: >-
              (((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z))|null
        - name: tag
          in: query
          description: Tag to filter by
          schema:
            type: string
            pattern: ([a-zA-Z0-9\-\_#\s]+)
        - name: meta.DESK_DEPARTMENT_ID
          in: query
          description: Desk department ID
          schema:
            type: string
            pattern: ([0-9]+)
        - name: type
          in: query
          description: Filter by MessageType
          schema:
            type: string
            pattern: TEMPLATE|CANNED|WELCOMEMSG|AWAY|DEFAULTTEMPLATE
        - required: true
        - name: isActive
          in: query
          description: Canned Message Active Status
          schema:
            type: boolean
        - name: meta.INTEGRATION_SERVICE
          in: query
          description: >-
            Filter with Integration Services. Applicable only if messageType is
            Template
          schema:
            type: string
            pattern: >-
              INTERCOM|TELEGRAM|SALES_IQ|TWILIO|IM_TALK|LINE|WECHAT|WHATSAPP|FACEBOOKMESSENGER|INSTAGRAM|WECOM
        - name: meta.TEMPLATEMSG_STATUS
          in: query
          description: >-
            Filter with Status of Message Applicable only if messageType is
            Template
          schema:
            type: string
            pattern: PENDING|FAILED|APPROVED|REJECTED
        - name: meta.WABA_ID
          in: query
          description: WABA ID Filter. Applicable only if messageType is Template
          schema:
            type: string
            pattern: ([0-9]+)
        - name: channelId
          in: query
          description: Channel ID. Applicable only if messageType is Template
          schema:
            type: string
            pattern: ([0-9]+)
        - name: language
          in: query
          description: Filter by language
          schema:
            type: string
            pattern: >-
              af|sq|ar|az|bn|bg|ca|zh_CN|zh_HK|zh_TW|hr|cs|da|nl|en|en_GB|en_US|et|fil|fi|fr|ka|de|el|gu|ha|he|hi|hu|id|ga|it|ja|kn|kk|rw_RW|ko|ky_KG|lo|lv|lt|mk|ms|ml|mr|nb|fa|pl|pt_BR|pt_PT|pa|ro|ru|sr|sk|sl|es|es_AR|es_ES|es_MX|sw|sv|ta|te|th|tr|uk|ur|uz|vi|zu
    post:
      summary: Create a new canned messsage
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  modifiedTime:
                    type: string
                  kind:
                    type: string
                  isPrivate:
                    type: boolean
                  isActive:
                    type: boolean
                  title:
                    type: string
                  message:
                    type: string
                  type:
                    type: string
                  uuid:
                    type: string
                  tags:
                    type: string
                  displayMessage:
                    type: string
                  createdBy:
                    type: string
                  translations:
                    type: array
                  meta:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        uuid:
                          type: string
                        value:
                          type: string
                      required:
                        - name
                        - uuid
                        - value
                  id:
                    type: string
                required:
                  - createdBy
                  - displayMessage
                  - id
                  - isActive
                  - isPrivate
                  - kind
                  - message
                  - meta
                  - modifiedTime
                  - tags
                  - title
                  - translations
                  - type
                  - uuid
              example:
                modifiedTime: '2024-10-23T05:23:43.000Z'
                kind: single.cannedMessage
                isPrivate: false
                isActive: true
                title: Hello
                message: Hello Test message
                type: CANNED
                uuid: fdc837d8c80559cda8df51b2377bfec2
                tags: '#hello#hell1'
                displayMessage: Hello Test message
                createdBy: '87890948'
                translations: []
                meta:
                  - name: DESK_DEPARTMENT_ID
                    uuid: 57806c9504525e0bbce5f4a92ad3ac71
                    value: '122000000025936'
                id: '7122000008988023'
      x-throttling:
        - duration: 1M
          lockPeriod: 5M
          threshold: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cannedMessageJSON'
    delete:
      summary: De-Activate a Canned Message
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 10
        - duration: 1H
          lockPeriod: 10M
          threshold: 20
        - duration: 1d
          lockPeriod: 1d
          threshold: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteCannedMessagesJSON'
  /api/v1/cannedMessages/([0-9]+):
    patch:
      summary: Update a canned message
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 10
        - duration: 1H
          lockPeriod: 10M
          threshold: 20
        - duration: 1d
          lockPeriod: 1d
          threshold: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateCannedMessageJSON'
    get:
      summary: Get detailed information of a canned message
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 50
    delete:
      summary: Delete a canned message
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 25
        - duration: 1H
          lockPeriod: 10M
          threshold: 50
  /api/v1/cannedMessages/([0-9]+)/activation:
    patch:
      summary: Activate a Canned Message
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 10
        - duration: 1H
          lockPeriod: 10M
          threshold: 20
        - duration: 1d
          lockPeriod: 1d
          threshold: 100
    delete:
      summary: De-Activate a Canned Message
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 10
        - duration: 1H
          lockPeriod: 10M
          threshold: 20
        - duration: 1d
          lockPeriod: 1d
          threshold: 100
  /api/v1/templateMessages/sync:
    post:
      summary: Sync Template Message From Whatsapp
      tags:
        - Templatemessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 25
      parameters:
        - name: wabaId
          in: path
          description: The wabaId from which the template sync should happen
          schema:
            type: string
        - required: true
  /api/v1/cannedMessages/([0-9]+)/translations/([0-9]+):
    get:
      summary: Get a single canned message translation for a Canned Message
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 25
        - duration: 1H
          lockPeriod: 10M
          threshold: 50
    delete:
      summary: Delete a canned message translation
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 25
        - duration: 1H
          lockPeriod: 10M
          threshold: 50
    patch:
      summary: Update a canned message translation
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 10
        - duration: 1H
          lockPeriod: 10M
          threshold: 20
        - duration: 1d
          lockPeriod: 1d
          threshold: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTranslationJSON'
  /api/v1/cannedMessages/([0-9]+)/translations:
    get:
      summary: Get all translations for a Canned Message
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 25
        - duration: 1H
          lockPeriod: 10M
          threshold: 50
    post:
      summary: Create a canned message translation
      tags:
        - Cannedmessages
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 5M
          threshold: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/translationJSON'
  /api/v1/sessions/([0-9]+)/attachments/([0-9]+):
    get:
      summary: Get attachment of a message
      tags:
        - Sessions
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
      parameters:
        - name: inline
          in: query
          description: Display attachment content inline
          schema:
            type: string
  /api/v1/attachments/([a-zA-Z0-9]+):
    get:
      summary: Get attachment
      tags:
        - Attachments
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
  /api/v1/attachments/([0-9]+):
    get:
      summary: Get attachment
      tags:
        - Attachments
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
    delete:
      summary: Get attachment
      tags:
        - Attachments
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
  /api/v1/attachments/([0-9]+)/data:
    get:
      summary: Get attachment
      tags:
        - Attachments
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
  /api/v1/attachments/format:
    get:
      summary: Get attachment
      tags:
        - Attachments
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
  /api/v1/attachments:
    post:
      summary: Get attachment
      tags:
        - Attachments
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
      parameters:
        - name: type
          in: path
          description: Which type of message this attachment will be used
          schema:
            type: string
            pattern: message|template|channel
  /internalapi/export:
    post:
      summary: Export Details
      tags:
        - Internalapi
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 60
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportDataJSON'
  /internalapi/kafkaMeta:
    get:
      summary: Get Kafka Meta of IM Service
      tags:
        - Internalapi
      security: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example: {}
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
  /internalapi/bundle/([0-9]+)/serviceorg:
    get:
      summary: Get Linked IM Portal of given Bundle Service
      tags:
        - Internalapi
      security: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
  /internalapi/serviceOrganizations:
    post:
      summary: Link Commerce ZohoService org with IM Org
      tags:
        - Internalapi
      security: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 5M
          threshold: 5
        - duration: 1H
          lockPeriod: 20M
          threshold: 20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commerceServiceOrgJSON'
  /internalapi/serviceOrganizations/([0-9]+):
    delete:
      summary: Remove linking of Commerce ZohoService org from IM Org
      tags:
        - Internalapi
      security: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1H
          threshold: 5
        - duration: 1H
          lockPeriod: 20M
          threshold: 20
  /internalapi/zohoservices:
    get:
      summary: Get IM Supported Zoho services
      tags:
        - Internalapi
      security: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
  /internalapi/organizations/bundle/associate:
    post:
      summary: Upgrade Standalone IM org to Bundle
      tags:
        - Internalapi
      security: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bundleUpdateJson'
  /internalapi/organizations/bundle:
    delete:
      summary: Downgrade Bundle Org
      tags:
        - Internalapi
      security: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 10
      parameters:
        - name: bundle
          in: query
          description: Bundle Name to be downgraded
          schema:
            type: string
        - required: true
        - name: bundleOrgId
          in: query
          description: Bundle OrgId to be downgraded
          schema:
            type: number
        - required: true
  /internalapi/organizations/bundle/subscription:
    patch:
      summary: To update subscription changes on bundle
      tags:
        - Internalapi
      security: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bundleSubscriptionUpdateJson'
  /internalapi/organizations/bundle/disassociate:
    patch:
      summary: Disassociate IM org from Bundle
      tags:
        - Internalapi
      security: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1M
          threshold: 10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bundleUpdateJson'
  /api/v1/pns/installationId:
    get:
      summary: To get a InstallationId for a device
      tags:
        - Pns
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1H
          lockPeriod: 10M
          threshold: 20
  /api/v1/pns/register:
    post:
      summary: To register a device for push notifications
      tags:
        - Pns
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1H
          lockPeriod: 10M
          threshold: 20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pnsRegisterJSON'
    delete:
      summary: To un-register a device for push notifications
      tags:
        - Pns
      security:
        - OAuth2:
            - messages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1H
          lockPeriod: 10M
          threshold: 20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pnsRegisterJSON'
  /api/v1/organizations:
    get:
      summary: Get IM Organizations of an User
      tags:
        - Organizations
      security:
        - OAuth2:
            - organizations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 30
    post:
      summary: Create an IM Orgniazation
      tags:
        - Organizations
      security:
        - OAuth2:
            - organizations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  isDefault:
                    type: boolean
                  portalName:
                    type: string
                  createdByZuId:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  createdTime:
                    type: string
                  createdByService:
                    type: string
                  id:
                    type: string
                  isPrivate:
                    type: boolean
                  deactivatedTime:
                    type: 'null'
                  isCurrentlyLinked:
                    type: boolean
                  isActive:
                    type: boolean
                required:
                  - createdByService
                  - createdByZuId
                  - createdTime
                  - deactivatedTime
                  - id
                  - isActive
                  - isCurrentlyLinked
                  - isDefault
                  - isPrivate
                  - kind
                  - name
                  - portalName
              example:
                isDefault: false
                portalName: spencerinc
                createdByZuId: '63981613'
                kind: single.organization
                name: Spencer Inc
                createdTime: '2020-11-25T11:52:00.000Z'
                createdByService: ZOHO_IM
                id: '63981649'
                isPrivate: false
                deactivatedTime: null
                isCurrentlyLinked: false
                isActive: true
      x-throttling:
        - duration: 1M
          lockPeriod: 1H
          threshold: 5
        - duration: 1d
          lockPeriod: 1d
          threshold: 20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organizationJSON'
  /api/v1/organizations/([0-9]+):
    get:
      summary: Get details of an IM Org
      tags:
        - Organizations
      security:
        - OAuth2:
            - organizations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 10
  /api/v1/serviceOrganizations:
    post:
      summary: Link other ZohoService org with IM Org
      tags:
        - Serviceorganizations
      security:
        - OAuth2:
            - organizations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceOrgId:
                    type: string
                  zohoService:
                    type: string
                  kind:
                    type: string
                required:
                  - kind
                  - serviceOrgId
                  - zohoService
              example:
                serviceOrgId: '63981649'
                zohoService: ZOHO_DESK
                kind: single.organization.serviceOrg
      x-throttling:
        - duration: 1M
          lockPeriod: 1H
          threshold: 5
        - duration: 1d
          lockPeriod: 1d
          threshold: 20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serviceOrgJSON'
    get:
      summary: Get zoho service organizations linked with an IM Org
      tags:
        - Serviceorganizations
      security:
        - OAuth2:
            - organizations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 5
  /api/v1/serviceOrganizations/([0-9]+):
    delete:
      summary: Remove linking of other ZohoService org from IM Org
      tags:
        - Serviceorganizations
      security:
        - OAuth2:
            - organizations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1H
          threshold: 5
        - duration: 1d
          lockPeriod: 1d
          threshold: 20
  /api/v1/migrateDC:
    post:
      summary: Remove linking of other ZohoService org from IM Org
      tags:
        - Migratedc
      security:
        - OAuth2:
            - organizations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 1H
          threshold: 5
  /api/v1/integrations:
    get:
      summary: Get list of available integrations to add as channel
      tags:
        - Integrations
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        channelAlias:
                          type: string
                        provider:
                          type: object
                          properties:
                            domain:
                              type: string
                            name:
                              type: string
                          required:
                            - domain
                            - name
                        kind:
                          type: string
                        domain:
                          type: string
                        label:
                          type: string
                        id:
                          type: string
                        logoURL:
                          type: string
                        isParentAccountNeeded:
                          type: boolean
                      required:
                        - channelAlias
                        - domain
                        - id
                        - isParentAccountNeeded
                        - kind
                        - label
                        - logoURL
                        - provider
                  kind:
                    type: string
                  hasMore:
                    type: boolean
                required:
                  - data
                  - hasMore
                  - kind
              example:
                data:
                  - channelAlias: FaceBookMessenger
                    provider:
                      domain: https://www.facebook.com
                      name: Messenger
                    kind: single.integrationService
                    domain: https://www.facebook.com
                    label: Messenger
                    id: FACEBOOKMESSENGER
                    logoURL: >-
                      https://static.localzohocdn.com/zohoim/images/messenger.a6fe9d91c6e691ce6b73.png
                    isParentAccountNeeded: true
                  - channelAlias: IM Talk
                    provider:
                      domain: https://zoho.com
                      name: ZohoCorp
                    kind: single.integrationService
                    domain: https://im.zoho.com
                    label: IM Talk
                    id: IM_TALK
                    logoURL: >-
                      https://static.localzohocdn.com/zohoim/images/imtalk.a882f3ed89b1978fad3a.png
                    isParentAccountNeeded: false
                  - channelAlias: Instagram
                    provider:
                      domain: https://www.instagram.com
                      name: Instagram
                    kind: single.integrationService
                    domain: https://www.instagram.com
                    label: Instagram
                    id: INSTAGRAM
                    logoURL: >-
                      https://static.localzohocdn.com/zohoim/images/instagram.2ef2b0f4fe3f8074aa11.png
                    isParentAccountNeeded: true
                  - channelAlias: Bot
                    provider:
                      domain: https://line.me
                      name: LINE
                    kind: single.integrationService
                    domain: https://line.me
                    label: LINE
                    id: LINE
                    logoURL: >-
                      https://static.localzohocdn.com/zohoim/images/line.6358d1805e77d23f5945.png
                    isParentAccountNeeded: false
                  - channelAlias: Bot
                    provider:
                      domain: https://telegram.org
                      name: Telegram
                    kind: single.integrationService
                    domain: https://telegram.org
                    label: Telegram
                    id: TELEGRAM
                    logoURL: >-
                      https://static.localzohocdn.com/zohoim/images/telegram.3bd9ec85cdcbdb645b38.png
                    isParentAccountNeeded: false
                  - channelAlias: Phone Number
                    provider:
                      domain: https://twilio.com
                      name: Twilio
                    kind: single.integrationService
                    domain: https://twilio.com
                    label: Twilio
                    id: TWILIO
                    logoURL: >-
                      https://implus.localzoho.com/images/integrations/whatsapp.png
                    isParentAccountNeeded: false
                  - channelAlias: WeChat
                    provider:
                      domain: https://wechat.com
                      name: WeChat
                    kind: single.integrationService
                    domain: https://wechat.com
                    label: WeChat
                    id: WECHAT
                    logoURL: >-
                      https://static.localzohocdn.com/zohoim/images/wechat.b6537ee293861f2206da.png
                    isParentAccountNeeded: false
                  - channelAlias: WhatsApp
                    provider:
                      domain: www.whatsapp.com
                      name: WhatsApp
                    kind: single.integrationService
                    domain: https://www.whatsapp.com
                    label: WhatsApp
                    id: WHATSAPP
                    logoURL: >-
                      https://static.localzohocdn.com/zohoim/images/whatsapp.4abb564eab8683c43df6.png
                    isParentAccountNeeded: false
                kind: list.integrationService
                hasMore: false
      x-throttling:
        - duration: 1H
          lockPeriod: 10M
          threshold: 90
  /api/v1/integrations/([a-zA-Z0-9\-]+):
    get:
      summary: Get detailed information    of a specific Integration
      tags:
        - Integrations
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1H
          lockPeriod: 10M
          threshold: 90
  /api/v1/integrations/TWILIO/accounts:
    get:
      summary: Get twilio subaccount details for this org
      tags:
        - Integrations
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1H
          lockPeriod: 10M
          threshold: 60
  /api/v1/integrations/TWILIO/purchasedNumbers:
    get:
      summary: Get Purchased Phone Numbers in Twilio Subaccount
      tags:
        - Integrations
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1D
          lockPeriod: 10M
          threshold: 60
      parameters:
        - name: expiredInDays
          in: query
          description: Get Twilio phoneNumbers to be expired within mentioned days
          schema:
            type: integer
  /api/v1/integrations/TWILIO/releaseNumber/([0-9]+):
    patch:
      summary: To release the whatsapp phone number from twilio
      tags:
        - Integrations
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 10
        - duration: 1H
          lockPeriod: 10M
          threshold: 20
        - duration: 1d
          lockPeriod: 1d
          threshold: 30
      parameters:
        - name: release
          in: path
          description: Set this to release from Twilio
          schema:
            type: boolean
  /api/v1/integrations/TWILIO/numbers:
    get:
      summary: Get Available Phone Numbers,Country,Number Type for Purchase from Twilio
      tags:
        - Integrations
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1D
          lockPeriod: 10M
          threshold: 100
      parameters:
        - name: countryCode
          in: query
          description: Index number, starting from which the channels must be fetched
          schema:
            type: string
            pattern: (^([a-zA-Z0-9\s\.\?\_\-\,@\;\+\:\(\)])*$|null|undefined)
        - name: numberType
          in: query
          description: Index number, starting from which the channels must be fetched
          schema:
            type: string
            pattern: local|mobile|toll_free
    post:
      summary: Create twilio subaccount for this org
      tags:
        - Integrations
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1D
          lockPeriod: 10M
          threshold: 25
      parameters:
        - name: available
          in: path
          description: Twilio number already exists for the sub account.
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/twilioPhoneNumberJson'
  /api/v1/integrations/([a-zA-Z0-9\-]+)/configParams/([a-zA-Z0-9_]+)/computeOptions:
    post:
      summary: Compute config params with parent params
      tags:
        - Integrations
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1H
          lockPeriod: 10M
          threshold: 25
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/computeConfigParamsJSON'
  /api/v1/channels/([0-9]+)/configParams/([a-zA-Z0-9_]+)/computeOptions:
    post:
      summary: Compute config params with parent params
      tags:
        - Channels
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1H
          lockPeriod: 10M
          threshold: 25
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/computeConfigParamsJSON'
  /api/v1/channels:
    get:
      summary: Get existing channels
      tags:
        - Channels
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        accountName:
                          type: string
                        integrationServiceType:
                          type: string
                        defaultBotId:
                          type: string
                        name:
                          type: string
                        isActive:
                          type: boolean
                        isStorageEnabled:
                          type: boolean
                        isSandBox:
                          type: boolean
                        createdTime:
                          type: string
                        createdBy:
                          type: string
                        isAuthorizationPending:
                          type: boolean
                        isSubscribed:
                          type: boolean
                        authenticationURL:
                          type: 'null'
                        isOwner:
                          type: boolean
                        universalLink:
                          type: string
                        isDeleted:
                          type: boolean
                        departmentId:
                          type: string
                        appName:
                          type: string
                        photoURL:
                          type: string
                        creator:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            email:
                              type: string
                            photoURL:
                              type: string
                            type:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            externalId:
                              type: 'null'
                            zuid:
                              type:
                                - 'null'
                                - string
                            displayName:
                              type: 'null'
                            agent:
                              type: boolean
                            roleName:
                              type: 'null'
                            emailId:
                              type: string
                          required:
                            - agent
                            - displayName
                            - email
                            - emailId
                            - externalId
                            - firstName
                            - id
                            - lastName
                            - name
                            - photoURL
                            - roleName
                            - type
                            - zuid
                        code:
                          type: string
                        configParams:
                          type: array
                          items:
                            type: object
                            properties:
                              isRequired:
                                type: boolean
                              modifiedTime:
                                type: string
                              isSecured:
                                type: boolean
                              isDeprecated:
                                type: boolean
                              defaultValue:
                                type:
                                  - 'null'
                                  - string
                              parentParams:
                                type: array
                              label:
                                type: string
                              type:
                                type: string
                              uuid:
                                type: string
                              isInternal:
                                type: boolean
                              name:
                                type: string
                              options:
                                type: 'null'
                              id:
                                type: string
                              value:
                                type: string
                              maxLen:
                                type: string
                            required:
                              - defaultValue
                              - id
                              - isDeprecated
                              - isInternal
                              - isRequired
                              - isSecured
                              - label
                              - maxLen
                              - modifiedTime
                              - name
                              - options
                              - parentParams
                              - type
                              - uuid
                              - value
                      required:
                        - accountName
                        - appName
                        - authenticationURL
                        - code
                        - configParams
                        - createdBy
                        - createdTime
                        - creator
                        - defaultBotId
                        - departmentId
                        - id
                        - integrationServiceType
                        - isActive
                        - isAuthorizationPending
                        - isDeleted
                        - isOwner
                        - isSandBox
                        - isStorageEnabled
                        - isSubscribed
                        - name
                        - photoURL
                        - universalLink
                  kind:
                    type: string
                  hasMore:
                    type: boolean
                required:
                  - data
                  - hasMore
                  - kind
              example:
                data:
                  - id: '1597000002403074'
                    accountName: Nice Poems
                    integrationServiceType: FACEBOOKMESSENGER
                    defaultBotId: '1597000002398074'
                    name: Ranjith Messenger
                    isActive: true
                    isStorageEnabled: false
                    isSandBox: false
                    createdTime: '2024-04-15T10:10:59.000Z'
                    createdBy: '70128095'
                    isAuthorizationPending: false
                    isSubscribed: true
                    authenticationURL: null
                    isOwner: true
                    universalLink: https://m.me/481466341989189
                    isDeleted: false
                    departmentId: '122000000025936'
                    appName: Ranjith Messenger
                    photoURL: >-
                      https://desk.localzoho.com/api/v1/channels/test_channel_1_0/photo?orgId=70127975
                    creator:
                      id: '139443000000190001'
                      name: Ranjith
                      email: ranjith.pg@zohotest.com
                      photoURL: >-
                        https://desk.localzoho.com/api/v1/agents/139443000000190001/photo?orgId=70127975
                      type: AGENT
                      firstName: ''
                      lastName: Ranjith
                      externalId: null
                      zuid: '70128095'
                      displayName: null
                      agent: true
                      roleName: null
                      emailId: ranjith.pg@zohotest.com
                    code: TEST_CHANNEL_1_0
                    configParams:
                      - isRequired: true
                        modifiedTime: '2024-04-15T10:10:59.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook User
                        type: STRING
                        uuid: 4af274899b455fe5a7f4735330c9092d
                        isInternal: false
                        name: FACEBOOK_USER
                        options: null
                        id: '1597000002403076'
                        value: Rapinzels Dhana[2166035220327005]
                        maxLen: '255'
                      - isRequired: true
                        modifiedTime: '2024-04-15T10:10:59.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook Page
                        type: OPTIONS_COMPUTED
                        uuid: 4af274899b455fe5a7f4735330c9092d
                        isInternal: false
                        name: FACEBOOK_PAGE
                        options: null
                        id: '1597000002403080'
                        value: Nice Poems[481466341989189]
                        maxLen: '255'
                      - isRequired: false
                        modifiedTime: '2024-04-15T10:10:59.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: PAGE_ADDED
                        parentParams: []
                        label: Current Page Status
                        type: SYSTEM_DEFINED
                        uuid: 4af274899b455fe5a7f4735330c9092d
                        isInternal: true
                        name: CURRENT_STATUS
                        options: null
                        id: '1597000002403078'
                        value: PERMISSION_REVOKED
                        maxLen: '255'
                  - id: '1597000003261011'
                    accountName: Pradeep qa
                    integrationServiceType: FACEBOOKMESSENGER
                    defaultBotId: '1597000000041001'
                    name: Pradeep QA
                    isActive: true
                    isStorageEnabled: false
                    isSandBox: false
                    createdTime: '2024-06-11T09:53:03.000Z'
                    createdBy: '70128095'
                    isAuthorizationPending: false
                    isSubscribed: true
                    authenticationURL: null
                    isOwner: true
                    universalLink: https://m.me/367552363097495
                    isDeleted: false
                    departmentId: '122000000025936'
                    appName: Pradeep QA
                    photoURL: >-
                      https://desk.localzoho.com/api/v1/channels/pradeep_qa/photo?orgId=70127975
                    creator:
                      id: '139443000000190001'
                      name: Ranjith
                      email: ranjith.pg@zohotest.com
                      photoURL: >-
                        https://desk.localzoho.com/api/v1/agents/139443000000190001/photo?orgId=70127975
                      type: AGENT
                      firstName: ''
                      lastName: Ranjith
                      externalId: null
                      zuid: '70128095'
                      displayName: null
                      agent: true
                      roleName: null
                      emailId: ranjith.pg@zohotest.com
                    code: PRADEEP_QA
                    configParams:
                      - isRequired: true
                        modifiedTime: '2024-06-11T09:53:03.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook User
                        type: STRING
                        uuid: ffe71761dd2557a4b6a5ad1fbaeb6721
                        isInternal: false
                        name: FACEBOOK_USER
                        options: null
                        id: '1597000003261013'
                        value: Pura Bindas[963617642173823]
                        maxLen: '255'
                      - isRequired: false
                        modifiedTime: '2024-06-11T09:53:03.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: PAGE_ADDED
                        parentParams: []
                        label: Current Page Status
                        type: SYSTEM_DEFINED
                        uuid: ffe71761dd2557a4b6a5ad1fbaeb6721
                        isInternal: true
                        name: CURRENT_STATUS
                        options: null
                        id: '1597000003261015'
                        value: PAGE_ADDED
                        maxLen: '255'
                      - isRequired: true
                        modifiedTime: '2024-06-11T09:53:03.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook Page
                        type: OPTIONS_COMPUTED
                        uuid: ffe71761dd2557a4b6a5ad1fbaeb6721
                        isInternal: false
                        name: FACEBOOK_PAGE
                        options: null
                        id: '1597000003261017'
                        value: Pradeep qa[367552363097495]
                        maxLen: '255'
                  - id: '1597000003692099'
                    accountName: TShirtMakers
                    integrationServiceType: FACEBOOKMESSENGER
                    defaultBotId: '-1'
                    name: test
                    isActive: true
                    isStorageEnabled: false
                    isSandBox: false
                    createdTime: '2024-07-11T06:59:03.000Z'
                    createdBy: '71247894'
                    isAuthorizationPending: false
                    isSubscribed: true
                    authenticationURL: null
                    isOwner: true
                    universalLink: https://m.me/106651458970885
                    isDeleted: false
                    departmentId: '122000000025936'
                    appName: test
                    photoURL: >-
                      https://desk.localzoho.com/api/v1/channels/test_2/photo?orgId=70127975
                    creator:
                      id: '139443000007492001'
                      name: Nivetha
                      email: nivetha.g+im@zohotest.com
                      photoURL: >-
                        https://desk.localzoho.com/api/v1/agents/139443000007492001/photo?orgId=70127975
                      type: AGENT
                      firstName: ''
                      lastName: Nivetha
                      externalId: null
                      zuid: '71247894'
                      displayName: null
                      agent: true
                      roleName: null
                      emailId: nivetha.g+im@zohotest.com
                    code: TEST_2
                    configParams:
                      - isRequired: true
                        modifiedTime: '2024-07-11T06:59:03.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook User
                        type: STRING
                        uuid: 07649fc8f7a153f78f459918516e3e19
                        isInternal: false
                        name: FACEBOOK_USER
                        options: null
                        id: '1597000003692101'
                        value: WaCloud Demo[105473325499000]
                        maxLen: '255'
                      - isRequired: false
                        modifiedTime: '2024-07-11T06:59:03.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: PAGE_ADDED
                        parentParams: []
                        label: Current Page Status
                        type: SYSTEM_DEFINED
                        uuid: 07649fc8f7a153f78f459918516e3e19
                        isInternal: true
                        name: CURRENT_STATUS
                        options: null
                        id: '1597000003692103'
                        value: PERMISSION_REVOKED
                        maxLen: '255'
                      - isRequired: true
                        modifiedTime: '2024-07-11T06:59:03.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook Page
                        type: OPTIONS_COMPUTED
                        uuid: 07649fc8f7a153f78f459918516e3e19
                        isInternal: false
                        name: FACEBOOK_PAGE
                        options: null
                        id: '1597000003692105'
                        value: TShirtMakers[106651458970885]
                        maxLen: '255'
                  - id: '1597000003693037'
                    accountName: WACloudDemo
                    integrationServiceType: FACEBOOKMESSENGER
                    defaultBotId: '-1'
                    name: testing
                    isActive: true
                    isStorageEnabled: false
                    isSandBox: false
                    createdTime: '2024-07-11T10:01:24.000Z'
                    createdBy: '71247894'
                    isAuthorizationPending: false
                    isSubscribed: true
                    authenticationURL: null
                    isOwner: true
                    universalLink: https://m.me/105675868860732
                    isDeleted: false
                    departmentId: '122000000025936'
                    appName: testing
                    photoURL: >-
                      https://desk.localzoho.com/api/v1/channels/testing_1/photo?orgId=70127975
                    creator:
                      id: '139443000005842022'
                      name: Anonymize Agent  - Nivetha G
                      email: ''
                      photoURL: >-
                        https://desk.localzoho.com/api/v1/agents/139443000005842022/photo?orgId=70127975
                      type: AGENT
                      firstName: ''
                      lastName: Anonymize Agent  - Nivetha G
                      externalId: null
                      zuid: null
                      displayName: null
                      agent: true
                      roleName: null
                      emailId: ''
                    code: TESTING_1
                    configParams:
                      - isRequired: true
                        modifiedTime: '2024-07-11T10:01:24.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook Page
                        type: OPTIONS_COMPUTED
                        uuid: ca71f212f0465a85a6771ca60eab223a
                        isInternal: false
                        name: FACEBOOK_PAGE
                        options: null
                        id: '1597000003693043'
                        value: WACloudDemo[105675868860732]
                        maxLen: '255'
                      - isRequired: false
                        modifiedTime: '2024-07-11T10:01:24.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: PAGE_ADDED
                        parentParams: []
                        label: Current Page Status
                        type: SYSTEM_DEFINED
                        uuid: ca71f212f0465a85a6771ca60eab223a
                        isInternal: true
                        name: CURRENT_STATUS
                        options: null
                        id: '1597000003693041'
                        value: PAGE_ADDED
                        maxLen: '255'
                      - isRequired: true
                        modifiedTime: '2024-07-11T10:01:24.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook User
                        type: STRING
                        uuid: ca71f212f0465a85a6771ca60eab223a
                        isInternal: false
                        name: FACEBOOK_USER
                        options: null
                        id: '1597000003693039'
                        value: WaCloud Demo[105473325499000]
                        maxLen: '255'
                  - id: '1597000005626503'
                    accountName: Social Activity
                    integrationServiceType: FACEBOOKMESSENGER
                    defaultBotId: '-1'
                    name: RanjithFB
                    isActive: true
                    isStorageEnabled: false
                    isSandBox: false
                    createdTime: '2024-12-11T10:12:36.000Z'
                    createdBy: '71206570'
                    isAuthorizationPending: false
                    isSubscribed: true
                    authenticationURL: null
                    isOwner: true
                    universalLink: https://m.me/362437306949078
                    isDeleted: false
                    departmentId: '122000000025936'
                    appName: RanjithFB
                    photoURL: >-
                      https://desk.localzoho.com/api/v1/channels/ranjith_fb/photo?orgId=70127975
                    creator:
                      id: '139443000000666003'
                      name: Ranjith PG
                      email: ranjith.pg+hg1@zohotest.com
                      photoURL: >-
                        https://desk.localzoho.com/api/v1/agents/139443000000666003/photo?orgId=70127975
                      type: AGENT
                      firstName: Ranjith
                      lastName: PG
                      externalId: null
                      zuid: '71206570'
                      displayName: null
                      agent: true
                      roleName: null
                      emailId: ranjith.pg+hg1@zohotest.com
                    code: RANJITH_FB
                    configParams:
                      - isRequired: true
                        modifiedTime: '2024-12-11T10:12:36.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook User
                        type: STRING
                        uuid: 221cfb8c99365b4baa014737bee51547
                        isInternal: false
                        name: FACEBOOK_USER
                        options: null
                        id: '1597000005626505'
                        value: Sham Sairam Ganesh[122105033204008175]
                        maxLen: '255'
                      - isRequired: false
                        modifiedTime: '2024-12-11T10:12:36.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: PAGE_ADDED
                        parentParams: []
                        label: Current Page Status
                        type: SYSTEM_DEFINED
                        uuid: 3644deb21e0059f09d1d55521d7f4fbd
                        isInternal: true
                        name: CURRENT_STATUS
                        options: null
                        id: '1597000005626507'
                        value: PAGE_ADDED
                        maxLen: '255'
                      - isRequired: true
                        modifiedTime: '2024-12-11T10:12:36.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook Page
                        type: OPTIONS_COMPUTED
                        uuid: 8f99b1264f4a5bfd8096e423f8cb1b4a
                        isInternal: false
                        name: FACEBOOK_PAGE
                        options: null
                        id: '1597000005626509'
                        value: Social Activity[362437306949078]
                        maxLen: '255'
                  - id: '1597000005738001'
                    accountName: Ranjith Software Solution
                    integrationServiceType: FACEBOOKMESSENGER
                    defaultBotId: '-1'
                    name: Ranjith Software Solution
                    isActive: true
                    isStorageEnabled: false
                    isSandBox: false
                    createdTime: '2024-12-18T05:17:49.000Z'
                    createdBy: '70128095'
                    isAuthorizationPending: false
                    isSubscribed: true
                    authenticationURL: null
                    isOwner: true
                    universalLink: https://m.me/446033561936597
                    isDeleted: false
                    departmentId: '122000000025936'
                    appName: Ranjith Software Solution
                    photoURL: >-
                      https://desk.localzoho.com/api/v1/channels/ranjith_software_solution/photo?orgId=70127975
                    creator:
                      id: '139443000000190001'
                      name: Ranjith
                      email: ranjith.pg@zohotest.com
                      photoURL: >-
                        https://desk.localzoho.com/api/v1/agents/139443000000190001/photo?orgId=70127975
                      type: AGENT
                      firstName: ''
                      lastName: Ranjith
                      externalId: null
                      zuid: '70128095'
                      displayName: null
                      agent: true
                      roleName: null
                      emailId: ranjith.pg@zohotest.com
                    code: RANJITH_SOFTWARE_SOLUTION
                    configParams:
                      - isRequired: false
                        modifiedTime: '2024-12-18T05:17:49.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: PAGE_ADDED
                        parentParams: []
                        label: Current Page Status
                        type: SYSTEM_DEFINED
                        uuid: 840a963d4d715617bd3856d2a6cf10c1
                        isInternal: true
                        name: CURRENT_STATUS
                        options: null
                        id: '1597000005738005'
                        value: PAGE_ADDED
                        maxLen: '255'
                      - isRequired: true
                        modifiedTime: '2024-12-18T05:17:49.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook Page
                        type: OPTIONS_COMPUTED
                        uuid: a243243271da5018ba9dc0c26a2f7285
                        isInternal: false
                        name: FACEBOOK_PAGE
                        options: null
                        id: '1597000005738007'
                        value: Ranjith Software Solution[446033561936597]
                        maxLen: '255'
                      - isRequired: true
                        modifiedTime: '2024-12-18T05:17:49.000Z'
                        isSecured: false
                        isDeprecated: false
                        defaultValue: null
                        parentParams: []
                        label: Facebook User
                        type: STRING
                        uuid: 4cafcdbb798354038f95f19073ddbef5
                        isInternal: false
                        name: FACEBOOK_USER
                        options: null
                        id: '1597000005738003'
                        value: Sham Sairam Ganesh[122105033204008175]
                        maxLen: '255'
                kind: list.channel
                hasMore: false
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 60
      parameters:
        - name: from
          in: query
          description: Index number, starting from which the channels must be fetched
          schema:
            type: integer
        - name: limit
          in: query
          description: Number of channels to fetch
          schema:
            type: integer
        - name: modifiedAfter
          in: query
          description: >-
            After which date entities to be included. Enter a date in the ISO
            date format of yyyy-MM-ddThh:mm:ss.SSSZ.
          schema:
            type: string
            pattern: >-
              (((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z))|null
        - name: integrationServiceId
          in: query
          description: IntegrationService type
          schema:
            type: string
            pattern: >-
              INTERCOM|TELEGRAM|SALES_IQ|TWILIO|IM_TALK|LINE|WECHAT|WHATSAPP|FACEBOOKMESSENGER|INSTAGRAM|WECOM
        - name: externalAccountId
          in: query
          description: External acccount Id of the channnel
          schema:
            type: string
            pattern: (^([a-zA-Z0-9\s\.\?\_\-\,@\;\+\:\(\)])*$|null|undefined)
        - name: isSandBox
          in: query
          description: Set this param to get Sandbox channels only
          schema:
            type: boolean
        - name: isActive
          in: query
          description: Set this param to fetch channels by active status
          schema:
            type: boolean
        - name: includeDeleted
          in: query
          description: Set this param to include Deleted channels
          schema:
            type: boolean
        - name: onlyDeleted
          in: query
          description: Set this param to get Deleted channels only
          schema:
            type: boolean
        - name: configName
          in: query
          description: Set this param to get Channels with configParam
          schema:
            type: string
            pattern: WABA_ID
        - name: configValue
          in: query
          description: Set this param to get Channels with configParam Value
          schema:
            type: string
        - name: channelIds
          in: query
          description: Comma-separated broadcast Ids
          schema:
            type: number
        - name: include
          in: query
          description: Set this include config param and meta of channels
          schema:
            type: string
            pattern: meta|configParams
        - name: includeUnsubscribed
          in: query
          description: Set this param to include Unsubscribed channels
          schema:
            type: boolean
    post:
      summary: Create a new channel
      tags:
        - Channels
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  defaultBotId:
                    type: 'null'
                  accountName:
                    type: string
                  kind:
                    type: string
                  universalLink:
                    type: string
                  integrationService:
                    type: object
                    properties:
                      channelAlias:
                        type: string
                      configParams:
                        type: array
                        items:
                          type: object
                          properties:
                            isInternal:
                              type: boolean
                            isRequired:
                              type: boolean
                            isSecured:
                              type: boolean
                            isDeprecated:
                              type: boolean
                            defaultValue:
                              type: 'null'
                            name:
                              type: string
                            options:
                              type: 'null'
                            parentParams:
                              type: array
                            index:
                              type: string
                            label:
                              type: string
                            type:
                              type: string
                            maxLen:
                              type: string
                          required:
                            - defaultValue
                            - index
                            - isDeprecated
                            - isInternal
                            - isRequired
                            - isSecured
                            - label
                            - maxLen
                            - name
                            - options
                            - parentParams
                            - type
                      provider:
                        type: object
                        properties:
                          domain:
                            type: string
                          name:
                            type: string
                        required:
                          - domain
                          - name
                      kind:
                        type: string
                      domain:
                        type: string
                      onBoardingList:
                        type: array
                      pricingParams:
                        type: array
                      label:
                        type: string
                      id:
                        type: string
                      logoURL:
                        type: string
                      isParentAccountNeeded:
                        type: boolean
                    required:
                      - channelAlias
                      - configParams
                      - domain
                      - id
                      - isParentAccountNeeded
                      - kind
                      - label
                      - logoURL
                      - onBoardingList
                      - pricingParams
                      - provider
                  isActive:
                    type: boolean
                  uuid:
                    type: 'null'
                  logoURL:
                    type: string
                  authorizationPending:
                    type: boolean
                  isSubscribed:
                    type: boolean
                  isGeneralConfigSkipped:
                    type: boolean
                  isDeleted:
                    type: boolean
                  configParams:
                    type: array
                    items:
                      type: object
                      properties:
                        modifiedTime:
                          type: string
                        isRequired:
                          type: boolean
                        isDeprecated:
                          type: boolean
                        defaultValue:
                          type: 'null'
                        kind:
                          type: string
                        parentParams:
                          type: array
                        label:
                          type: string
                        type:
                          type: string
                        uuid:
                          type: 'null'
                        isInternal:
                          type: boolean
                        name:
                          type: string
                        options:
                          type: array
                        id:
                          type: string
                        secured:
                          type: boolean
                        value:
                          type: string
                        maxLen:
                          type: string
                      required:
                        - defaultValue
                        - id
                        - isDeprecated
                        - isInternal
                        - isRequired
                        - kind
                        - label
                        - maxLen
                        - modifiedTime
                        - name
                        - options
                        - parentParams
                        - secured
                        - type
                        - uuid
                        - value
                  createdBy:
                    type: string
                  isOwner:
                    type: boolean
                  meta:
                    type: array
                  conversationCount:
                    type: string
                  name:
                    type: string
                  createdTime:
                    type: string
                  id:
                    type: string
                  authenticationURL:
                    type: 'null'
                  storageEnabled:
                    type: boolean
                  isSandBox:
                    type: boolean
                required:
                  - accountName
                  - authenticationURL
                  - authorizationPending
                  - configParams
                  - conversationCount
                  - createdBy
                  - createdTime
                  - defaultBotId
                  - id
                  - integrationService
                  - isActive
                  - isDeleted
                  - isGeneralConfigSkipped
                  - isOwner
                  - isSandBox
                  - isSubscribed
                  - kind
                  - logoURL
                  - meta
                  - name
                  - storageEnabled
                  - universalLink
                  - uuid
              example:
                defaultBotId: null
                accountName: SenthilPerBot
                kind: single.channel
                universalLink: https://t.me/SenthilPerBot
                integrationService:
                  channelAlias: Bot
                  configParams:
                    - isInternal: false
                      isRequired: true
                      isSecured: true
                      isDeprecated: false
                      defaultValue: null
                      name: BOT_AUTH_TOKEN
                      options: null
                      parentParams: []
                      index: '0'
                      label: Bot Auth Token
                      type: PASSWORD
                      maxLen: '255'
                  provider:
                    domain: https://telegram.org
                    name: Telegram
                  kind: single.integrationService
                  domain: https://telegram.org
                  onBoardingList: []
                  pricingParams: []
                  label: Telegram
                  id: TELEGRAM
                  logoURL: >-
                    https://static.localzohocdn.com/zohoim/images/telegram.3bd9ec85cdcbdb645b38.png
                  isParentAccountNeeded: false
                isActive: true
                uuid: null
                logoURL: >-
                  https://static.localzohocdn.com/zohoim/images/telegram.3bd9ec85cdcbdb645b38.png
                authorizationPending: false
                isSubscribed: false
                isGeneralConfigSkipped: false
                isDeleted: false
                configParams:
                  - modifiedTime: '2024-10-23T05:23:05.000Z'
                    isRequired: true
                    isDeprecated: false
                    defaultValue: null
                    kind: single.channel.configParam
                    parentParams: []
                    label: Bot Auth Token
                    type: PASSWORD
                    uuid: null
                    isInternal: false
                    name: BOT_AUTH_TOKEN
                    options: []
                    id: '7122000008988017'
                    secured: true
                    value: '*******'
                    maxLen: '255'
                  - modifiedTime: '2024-10-23T05:23:06.000Z'
                    isRequired: false
                    isDeprecated: false
                    defaultValue: null
                    kind: single.channel.configParam
                    parentParams: []
                    label: Bot User Name
                    type: SYSTEM_DEFINED
                    uuid: null
                    isInternal: true
                    name: BOT_USER_NAME
                    options: []
                    id: '7122000008988019'
                    secured: false
                    value: SenthilPerBot
                    maxLen: '255'
                createdBy: '87890948'
                isOwner: false
                meta: []
                conversationCount: '0'
                name: New
                createdTime: '2024-10-23T05:23:04.000Z'
                id: '7122000008988015'
                authenticationURL: null
                storageEnabled: false
                isSandBox: false
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 10
        - duration: 1H
          lockPeriod: 10M
          threshold: 20
        - duration: 1d
          lockPeriod: 1d
          threshold: 30
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/channelJSON'
  /api/v1/channels/([0-9]+):
    patch:
      summary: Update channel info and config params
      tags:
        - Channels
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 15
        - duration: 1H
          lockPeriod: 10M
          threshold: 45
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateChannelJSON'
    get:
      summary: Get detailed information of a channel
      tags:
        - Channels
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 60
    delete:
      summary: Delete a channel
      tags:
        - Channels
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1M
          lockPeriod: 3M
          threshold: 15
        - duration: 1H
          lockPeriod: 10M
          threshold: 45
      parameters:
        - name: include
          in: query
          description: include param
          schema:
            type: string
            pattern: REQUEST_DELETION
  /api/v1/channels/([0-9]+)/activate:
    patch:
      summary: Activate a channel
      tags:
        - Channels
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1d
          lockPeriod: 1d
          threshold: 20
    delete:
      summary: De-Activate a channel
      tags:
        - Channels
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
      x-throttling:
        - duration: 1d
          lockPeriod: 1d
          threshold: 20
  /api/v1/channels/count:
    get:
      summary: Channels count
      tags:
        - Channels
      security:
        - OAuth2:
            - channels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  count:
                    type: string
                required:
                  - count
                  - kind
[...]
