{
  "openapi": "3.0.0",
  "info": {
    "title": "ZohoIM",
    "version": "1.0.0",
    "description": "API specification for ZohoIM"
  },
  "servers": [
    {
      "url": "https://im.localzoho.com",
      "description": "API Server"
    }
  ],
  "paths": {
    "/api/v1/cannedMessages": {
      "get": {
        "summary": "Get existing canned messages",
        "tags": [
          "ZohoIM"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the channels must be fetched",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of channels to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "After which date entities to be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Tag to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meta.DESK_DEPARTMENT_ID",
            "in": "query",
            "description": "Desk department ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by MessageType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Canned Message Active Status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "meta.INTEGRATION_SERVICE",
            "in": "query",
            "description": "Filter with Integration Services. Applicable only if messageType is Template",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meta.TEMPLATEMSG_STATUS",
            "in": "query",
            "description": "Filter with Status of Message Applicable only if messageType is Template",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meta.WABA_ID",
            "in": "query",
            "description": "WABA ID Filter. Applicable only if messageType is Template",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel ID. Applicable only if messageType is Template",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter by language",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Create a new canned messsage",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "payload",
            "in": "path",
            "description": "payload for POST",
            "required": false,
            "schema": {
              "type": "jsonobject"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cannedMessageJSON"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "De-Activate a Canned Message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cannedMessages/([0-9]+)": {
      "patch": {
        "summary": "Update a canned message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "payload",
            "in": "path",
            "description": "payload for PATCH",
            "required": false,
            "schema": {
              "type": "jsonobject"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateCannedMessageJSON"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get detailed information of a canned message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a canned message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cannedMessages/([0-9]+)/activation": {
      "patch": {
        "summary": "Activate a Canned Message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "De-Activate a Canned Message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/templateMessages/sync": {
      "post": {
        "summary": "Sync Template Message From Whatsapp",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "wabaId",
            "in": "path",
            "description": "The wabaId from which the template sync should happen",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/cannedMessages/([0-9]+)/translations/([0-9]+)": {
      "get": {
        "summary": "Get a single canned message translation for a Canned Message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a canned message translation",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a canned message translation",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "payload",
            "in": "path",
            "description": "payload for POST",
            "required": false,
            "schema": {
              "type": "jsonobject"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateTranslationJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/cannedMessages/([0-9]+)/translations": {
      "get": {
        "summary": "Get all translations for a Canned Message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a canned message translation",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "payload",
            "in": "path",
            "description": "payload for POST",
            "required": false,
            "schema": {
              "type": "jsonobject"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/translationJSON"
              }
            }
          }
        }
      }
    },
    "/internalapi/kafkaMeta": {
      "get": {
        "summary": "Get Kafka Meta of IM Service",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              ""
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/internalapi/bundle/([0-9]+)/serviceorg": {
      "get": {
        "summary": "Get Linked IM Portal of given Bundle Service",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              ""
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/internalapi/serviceOrganizations": {
      "post": {
        "summary": "Link Commerce ZohoService org with IM Org",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              ""
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/commerceServiceOrgJSON"
              }
            }
          }
        }
      }
    },
    "/internalapi/serviceOrganizations/([0-9]+)": {
      "delete": {
        "summary": "Remove linking of Commerce ZohoService org from IM Org",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              ""
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/internalapi/zohoservices": {
      "get": {
        "summary": "Get IM Supported Zoho services",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              ""
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/internalapi/organizations/bundle/associate": {
      "post": {
        "summary": "Upgrade Standalone IM org to Bundle",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              ""
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bundleUpdateJson"
              }
            }
          }
        }
      }
    },
    "/internalapi/organizations/bundle": {
      "delete": {
        "summary": "Downgrade Bundle Org",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              ""
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "bundle",
            "in": "query",
            "description": "Bundle Name to be downgraded",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bundleOrgId",
            "in": "query",
            "description": "Bundle OrgId to be downgraded",
            "required": true,
            "schema": {
              "type": "long"
            }
          }
        ]
      }
    },
    "/internalapi/organizations/bundle/subscription": {
      "patch": {
        "summary": "To update subscription changes on bundle",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              ""
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bundleSubscriptionUpdateJson"
              }
            }
          }
        }
      }
    },
    "/internalapi/organizations/bundle/disassociate": {
      "patch": {
        "summary": "Disassociate IM org from Bundle",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              ""
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bundleUpdateJson"
              }
            }
          }
        }
      }
    },
    "/api/v1/pns/installationId": {
      "get": {
        "summary": "To get a InstallationId for a device",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pns/register": {
      "post": {
        "summary": "To register a device for push notifications",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pnsRegisterJSON"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "To un-register a device for push notifications",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations": {
      "get": {
        "summary": "Get IM Organizations of an User",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an IM Orgniazation",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organizationJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/([0-9]+)": {
      "get": {
        "summary": "Get details of an IM Org",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/serviceOrganizations": {
      "post": {
        "summary": "Link other ZohoService org with IM Org",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/serviceOrgJSON"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get zoho service organizations linked with an IM Org",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/serviceOrganizations/([0-9]+)": {
      "delete": {
        "summary": "Remove linking of other ZohoService org from IM Org",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/migrateDC": {
      "post": {
        "summary": "Remove linking of other ZohoService org from IM Org",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations": {
      "get": {
        "summary": "Get list of available integrations to add as channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations/([a-zA-Z0-9\\-]+)": {
      "get": {
        "summary": "Get detailed information     of a specific Integration",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations/TWILIO/accounts": {
      "get": {
        "summary": "Get twilio subaccount details for this org",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations/TWILIO/purchasedNumbers": {
      "get": {
        "summary": "Get Purchased Phone Numbers in Twilio Subaccount",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "expiredInDays",
            "in": "query",
            "description": "Get Twilio phoneNumbers to be expired within mentioned days",
            "required": false,
            "schema": {
              "type": "int"
            }
          }
        ]
      }
    },
    "/api/v1/integrations/TWILIO/releaseNumber/([0-9]+)": {
      "patch": {
        "summary": "To release the whatsapp phone number from twilio",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "release",
            "in": "path",
            "description": "Set this to release from Twilio",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/v1/integrations/TWILIO/numbers": {
      "get": {
        "summary": "Get Available Phone Numbers,Country,Number Type for Purchase from Twilio",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "description": "Index number, starting from which the channels must be fetched",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numberType",
            "in": "query",
            "description": "Index number, starting from which the channels must be fetched",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Create twilio subaccount for this org",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "available",
            "in": "path",
            "description": "Twilio number already exists for the sub account.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/twilioPhoneNumberJson"
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations/([a-zA-Z0-9\\-]+)/configParams/([a-zA-Z0-9_]+)/computeOptions": {
      "post": {
        "summary": "Compute config params with parent params",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/computeConfigParamsJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/([0-9]+)/configParams/([a-zA-Z0-9_]+)/computeOptions": {
      "post": {
        "summary": "Compute config params with parent params",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/computeConfigParamsJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/channels": {
      "get": {
        "summary": "Get existing channels",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the channels must be fetched",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of channels to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "After which date entities to be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationServiceId",
            "in": "query",
            "description": "IntegrationService type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalAccountId",
            "in": "query",
            "description": "External acccount Id of the channnel",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isSandBox",
            "in": "query",
            "description": "Set this param to get Sandbox channels only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Set this param to fetch channels by active status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Set this param to include Deleted channels",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "onlyDeleted",
            "in": "query",
            "description": "Set this param to get Deleted channels only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "configName",
            "in": "query",
            "description": "Set this param to get Channels with configParam",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configValue",
            "in": "query",
            "description": "Set this param to get Channels with configParam Value",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Comma-separated broadcast Ids",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Set this include config param and meta of channels",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeUnsubscribed",
            "in": "query",
            "description": "Set this param to include Unsubscribed channels",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      },
      "post": {
        "summary": "Create a new channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/channelJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/([0-9]+)": {
      "patch": {
        "summary": "Update channel info and config params",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateChannelJSON"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get detailed information of a channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "include param",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/channels/([0-9]+)/activate": {
      "patch": {
        "summary": "Activate a channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "De-Activate a channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/count": {
      "get": {
        "summary": "Channels count",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "integrationServiceId",
            "in": "query",
            "description": "IntegrationService type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Get count of active/inactive channels",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeSandBox",
            "in": "query",
            "description": "Set this to get count of channels including sandbox.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/v1/channels/([0-9]+)/subscribers": {
      "get": {
        "summary": "Get list of subscribers of a channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a subscriber (other zoho service org) to the channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove a subscriber (other zoho service org) from the channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/([0-9]+)/configParams": {
      "get": {
        "summary": "Get config param details of a channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update config param values of a channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configParamsJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/([0-9]+)/configParams/([a-zA-Z0-9_]+)": {
      "get": {
        "summary": "Get single config param detail",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/([0-9]+)/meta": {
      "get": {
        "summary": "GET Channel Meta",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Save Channel Meta",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/channelMetaJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/([0-9]+)/preferences": {
      "get": {
        "summary": "Get existing channels",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "isActive",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "summary": "Update a Channel Preference",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/channelPreferenceJSON"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete all preferences of a Channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/preferences": {
      "get": {
        "summary": "Get existing channels",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "channels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "channelIds",
            "in": "query",
            "description": "Comma-separated channel Ids",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/sdk/efc": {
      "get": {
        "summary": "Get EFC Script",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "serveEfc",
            "in": "query",
            "description": "ServeEfc",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "widgetType",
            "in": "query",
            "description": "widget type for the EFC",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skipCDN",
            "in": "query",
            "description": "To skip cdn for embed script",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "version for the efc script",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/contacts": {
      "get": {
        "summary": "Get list of Contacts",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "contacts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the contacts must be fetched",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of contacts to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "After which date entities to be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/contacts/([0-9]+)": {
      "get": {
        "summary": "Get detailed information of a contact",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "contacts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Upadte a contact",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "contacts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contactJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/profiles": {
      "get": {
        "summary": "Get list of integration user profiles",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "contacts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the profiles must be fetched",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of profiles to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel ID to filter",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "integrationServiceId",
            "in": "query",
            "description": "IntegrationService type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "Contact ID to filter",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "After which date entities to be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Online status of the user",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/profiles/([0-9]+)": {
      "get": {
        "summary": "Get detailed information of a user profile",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "contacts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions": {
      "get": {
        "summary": "Get list of conversations with filters",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the conversations must be fetched",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of conversations to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Comma-separated channel Ids. Filte conversations of given channel Ids",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "Filter conversations of given channel Id",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "description": "Filter conversations assigned to an agent",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "botIds",
            "in": "query",
            "description": "Comma-separated bot Ids. Filte conversations of given bot Ids",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "Filter conversations of a contact",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "description": "Filter conversations of a profile",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "After which modified date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Before which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "After which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for the conversations",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigneeFilter",
            "in": "query",
            "description": "Assignment status filter for the conversations",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionIds",
            "in": "query",
            "description": "Comma-separated session Ids. Filter conversations of given conversations Ids",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "contactExtId",
            "in": "query",
            "description": "Comma-separated contatct Ext Ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/sessionsWithLastMessages": {
      "get": {
        "summary": "Get list of conversations with filters along with LastMessages",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the conversations must be fetched",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of conversations to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Comma-separated channel Ids. Filte conversations of given channel Ids",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "Filter conversations of given channel Id",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "botIds",
            "in": "query",
            "description": "Comma-separated bot Ids. Filte conversations of given bot Ids",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "description": "Filter conversations assigned to an agent",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "Filter conversations of a contact",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "description": "Filter conversations of a profile",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "After which modified date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Before which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "After which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for the conversations",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assigneeFilter",
            "in": "query",
            "description": "Assignment status filter for the conversations",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionIds",
            "in": "query",
            "description": "Comma-separated session Ids. Filter conversations of given conversations Ids",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "contactExtId",
            "in": "query",
            "description": "Comma-separated contatct Ext Ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/sessions/([0-9]+)": {
      "get": {
        "summary": "Get detailed information of a conversation",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update conversation status",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sessionJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/metrics": {
      "get": {
        "summary": "Get session metrics for all channels or get metrics for specific channel",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "channelIds",
            "in": "query",
            "description": "Comma-separated channel Ids",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "integrationServiceId",
            "in": "query",
            "description": "IntegrationService type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/sessions/endInActive": {
      "post": {
        "summary": "End inactive sessions",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "unModifiedBefore",
            "in": "path",
            "description": "Before which modified date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "Filter conversations of a channel",
            "required": false,
            "schema": {
              "type": "long"
            }
          }
        ]
      }
    },
    "/api/v1/sessions/([0-9]+)/meta": {
      "get": {
        "summary": "GET Session Meta",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Save Session Meta",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configParamsJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/participants": {
      "get": {
        "summary": "Get list of conversation participants",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add participants to a conversation",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chatSessionParticipantsJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/removeParticipants": {
      "post": {
        "summary": "Remove participants from a conversation",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chatSessionParticipantsJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/markAsRead": {
      "patch": {
        "summary": "Mark the conversation as read by an agent until the given message id",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chatSessionStatusJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/updateMessageConsumptionStatus": {
      "patch": {
        "summary": "mark the message as consumed, pushed through realtime",
        "tags": [
          "ZohoIM"
        ],
        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chatSessionStatusJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/lastMessages": {
      "post": {
        "summary": "Fetch last messages of a conversation",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chatSessionIds"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/messagesByMeta": {
      "post": {
        "summary": "Fetch messages of a conversation matching given meta",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configParamsJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/messages": {
      "get": {
        "summary": "Fetch messages of a conversation with filters",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the messages must be fetched",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of messages to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "After which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of the message to be filtered.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Add message to a particular conversation",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chatMessageJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/([0-9]+)/sessions/([a-zA-Z0-9]+)/messages": {
      "get": {
        "summary": "Fetch messages of a conversation with filters",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the messages must be fetched",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of messages to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "After which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Add message to a particular channel conversation",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chatMessageJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/channels/([0-9]+)/initiateSession": {
      "post": {
        "summary": "Initiate New Conversation in a channel",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "payload",
            "in": "path",
            "description": "payload for POST",
            "required": false,
            "schema": {
              "type": "jsonobject"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/initiateSessionJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/layoutMessageWithCannedId": {
      "post": {
        "summary": "Add message to a particular conversation",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "payload",
            "in": "path",
            "description": "",
            "required": false,
            "schema": {
              "type": "jsonobject"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chatLayoutMessageWithCannedMessageJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/layoutMessage": {
      "post": {
        "summary": "Add message to a particular conversation",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "payload",
            "in": "path",
            "description": "",
            "required": false,
            "schema": {
              "type": "jsonobject"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chatLayoutMessageJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/attachments": {
      "post": {
        "summary": "Send attachment to a particular conversation",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "message",
            "in": "path",
            "description": "caption for the attachments",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replyToMessageId",
            "in": "path",
            "description": "ID of the message which is replied to",
            "required": false,
            "schema": {
              "type": "long"
            }
          }
        ]
      },
      "get": {
        "summary": "Get attachments under a session",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "After which date conversations should be included. Enter a date in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of attachments to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Not supported",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "To sort the list of attachments in either asc or desc order. By default descending",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/sessions/([0-9]+)/messages/([0-9]+)/resend": {
      "post": {
        "summary": "Retry a failed message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/messages/([0-9]+)": {
      "delete": {
        "summary": "Delete a failed message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get detailed information of a message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/messages/([0-9]+)/meta": {
      "get": {
        "summary": "GET Message Meta",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Save Message Meta",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configParamsJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/messages/([0-9]+)/action": {
      "post": {
        "summary": "Perform action on a message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/messageActionJSON"
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/messages/([0-9]+)/fullContent": {
      "get": {
        "summary": "Get full content of a message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/([0-9]+)/messages/([0-9]+)/rawContent": {
      "get": {
        "summary": "Get raw content of a message",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search": {
      "get": {
        "summary": "Get list of conversations with SearchKey",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages,contacts"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the conversations must be fetched",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of conversations to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "Filter conversations of a channel",
            "required": false,
            "schema": {
              "type": "long"
            }
          },
          {
            "name": "searchStr",
            "in": "query",
            "description": "Key to Search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "sort by column",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "module",
            "in": "query",
            "description": "Key to Search",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/messages/search": {
      "get": {
        "summary": "Get list of Conversations with SearchKey",
        "tags": [
          "ZohoIM"
        ],
        "security": [
          {
            "OAuth2": [
              "messages"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index number, starting from which the conversations must be fetched",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of conversations to fetch",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "sort by column (To discuss which key to handle)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchStr",
            "in": "query",
            "description": "Key to Search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "Filter conversations of a channel",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelType",
            "in": "query",
            "description": "Filter conversations with channelType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convoName",
[...]
